/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e5e7eb;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #020617;
    padding: 20px;
    position: fixed;
    border-right: 1px solid #1f2937;
}

.sidebar h2 {
    color: #ef4444;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #9ca3af;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #1f2937;
    color: #ef4444;
}

.sidebar a.active {
    background: #1f2937;
    color: #ef4444;
    border-left: 3px solid #ef4444;
}

/* MAIN */
.main {
    margin-left: 250px;
    padding: 40px;
    width: 100%;
}

/* HEADERS */
h1 {
    color: #ef4444;
    margin-bottom: 25px;
}

h2 {
    color: #f87171;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 14px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(239, 68, 68, 0.2);
}

/* LISTS */
.network-list,
.components-list {
    margin-top: 10px;
    padding-left: 20px;
    line-height: 1.6;
}

.network-list li,
.components-list li {
    margin-bottom: 5px;
}

.network-list strong {
    color: #ef4444;
}

/* TEXT */
.why-text {
    margin-top: 10px;
    line-height: 1.6;
}

/* DIAGRAM */
.diagram {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 12px;
    border: 1px solid #1f2937;
    transition: 0.3s;
}

.diagram:hover {
    transform: scale(1.02);
}