/* ===================== */
/* RESET */
/* ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================== */
/* BODY */
/* ===================== */
body {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    background: radial-gradient(circle at top, #0b1220, #020617);
    color: #e5e7eb;
}

/* ===================== */
/* SIDEBAR */
/* ===================== */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #020617;
    padding: 24px 20px;
    position: fixed;
    border-right: 1px solid #1f2937;
}

.sidebar h2 {
    color: #ef4444;
    margin-bottom: 30px;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: #9ca3af;
    text-decoration: none;
    margin: 8px 0;
    padding: 10px 12px;
    border-radius: 8px;
    transition: 0.25s;
    font-size: 14px;
}

.sidebar a:hover {
    background: #111827;
    color: #ffffff;
}

.sidebar a.active {
    background: #111827;
    color: #ef4444;
    border-left: 3px solid #ef4444;
}

/* ===================== */
/* MAIN */
/* ===================== */
.main {
    margin-left: 250px;
    padding: 50px 60px;
    width: calc(100% - 250px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===================== */
/* TYPOGRAPHY */
/* ===================== */
h1 {
    margin-bottom: 25px;
    color: #ef4444;
    font-size: 32px;
}

h2 {
    color: #f87171;
    margin-bottom: 10px;
}

h3 {
    color: #ff3b3b;
    margin-top: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

p {
    line-height: 1.7;
    color: #d1d5db;
}

/* ===================== */
/* CARD */
/* ===================== */
.card {
    width: 100%;
    max-width: 1100px;

    background: rgba(30, 41, 59, 0.6);
    backdrop-filter: blur(6px);

    padding: 25px;
    margin-bottom: 25px;

    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.05);

    transition: 0.25s;
}

.card:hover {
    transform: translateY(-4px);
    border-color: rgba(239, 68, 68, 0.4);
}

/* ===================== */
/* LISTS */
/* ===================== */
.network-list,
.components-list {
    margin-top: 12px;
    padding-left: 20px;
}

.network-list li,
.components-list li {
    margin-bottom: 6px;
    line-height: 1.6;
}

.network-list strong {
    color: #ef4444;
}

/* ===================== */
/* TEXT */
/* ===================== */
.why-text {
    margin-top: 12px;
    line-height: 1.7;
    color: #d1d5db;
}

/* ===================== */
/* DIAGRAM */
/* ===================== */
.diagram {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 25px auto;
    border-radius: 12px;
    border: 1px solid #1f2937;
    transition: 0.25s;
}

.diagram:hover {
    transform: scale(1.02);
}